// fonts

$dir: './fonts';

// font - arita-buri
@mixin font-loader-arita($weight-name, $weight)
{
  @font-face {
    font-family: 'Arita Buri';
    font-style: normal;
    font-weight: $weight;
    src: local('Arita-buri'),
      local('Arita-buri-#{$weight-name}'),
      url('#{$dir}/arita-buri/Arita-buri-#{$weight-name}.woff2') format('woff2');
  }
}
@include font-loader-arita('Hairline', 200);
@include font-loader-arita('Light', 300);
@include font-loader-arita('Medium', 400);
@include font-loader-arita('SemiBold', 500);
@include font-loader-arita('Bold', 600);
