@use './mixins';
@use './normalize';

:root {
  // color
  --color-bg: #fafbfc;
  --color-text-base: #222;
  --color-text-key: #b31f37;
  // size
  --size-text-base: 16px;
  // font
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-eng: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  @include mixins.dark-mode(true) {}
}

html {
  touch-action: manipulation;
}
body {
  min-width: 320px;
  margin: 0;
  font-size: var(--size-text-base);
  background: var(--color-bg);
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-text-base);
}
a {
  color: var(--color-text-key);
}
