@import "./variables";


// === Screen

// responsive
@mixin responsive($range)
{
  @if $range == mobile
  {
    @media (min-width: var(--size-screen-mobile)) { @content; }
  }
  @else if $range == tablet
  {
    @media (min-width: var(--size-screen-tablet)) { @content; }
  }
  @else if $range == desktop
  {
    @media (min-width: var(--size-screen-desktop)) { @content; }
  }
  @else if $range == desktop-wide
  {
    @media (min-width: var(--size-screen-desktop-wide)) { @content; }
  }
  @else if $range == desktop-fhd
  {
    @media (min-width: var(--size-screen-fhd)) { @content; }
  }
}

// for retina
@mixin retina()
{
  @media (-webkit-min-device-pixel-ratio: 2) { @content; }
}

// dark mode
// ex) `data-color-mode="system|light|dark"`
@mixin dark-mode($root: false)
{
  @if $root
  {
    &[data-color-mode=dark] { @content; }
    &[data-color-mode=system] {
      @media (prefers-color-scheme: dark) { @content; }
    }
  }
  @else
  {
    html[data-color-mode=dark] & { @content; }
    @media (prefers-color-scheme: dark) {
      html[data-color-mode=system] & { @content; }
    }
  }
}


// === Text

// single line text
@mixin text-single-line()
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// multi line text
@mixin text-multi-line()
{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--line-height, 1rem);
  max-height: calc(var(--line-height, 1rem) * var(--line-row, 3));
  display: -webkit-box;
  -webkit-line-clamp: var(--line-row, 3);
  -webkit-box-orient: vertical;
}


// === Color

// gradient
@mixin linear-gradient($matt-color, $start, $end, $direction:'vertical')
{
  background: $matt-color;
  @if $direction == 'horizontal'
  {
    background: linear-gradient(to right, $start, $end);
  }
  @else
  {
    background: linear-gradient(to bottom, $start, $end);
  }
}


// === Etc

// scroll area
@mixin scroll-area()
{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
