// variables area


// string
$text-dark-mode-name: 'data-color';

// size
$size-tablet: 768px;
$size-desktop: 1024px;
$size-desktop-1280: 1024px;
$size-desktop-1440: 1440px;
$size-desktop-1920: 1920px;

// etc
